.gnbBar {
    width: 100%;
    height: 6.6rem;
    background-color: #232E45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8.8rem;
}

.TRP{
    font-size: 2.8rem;
    color: white;
    font-weight: bold;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20rem;
    height: 100%;
}

.right img{
    height: 100%
}

.right img:first-child {
    margin-right: 2rem;
}

.imgDiv{
    display: flex;
    align-items: center;
    height: 2.4rem;
}

.name{
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    
}