.kakaomap {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: calc(100vw - 46.8rem);
    height: calc(100vh - 6.6rem); /* 전체 화면 채우기 */
  }

  #map {
    width: 100% !important;
    height: 100% !important;
  }
  

  .info-box{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 12rem;
    border: 0.2rem solid #AFBFFD;
    border-radius: 0.8rem;
    backdrop-filter: blur(0.4rem);
    background-color: #ffffff;
    height: 3.2rem;
    font-size: 1.6rem;

  }

  
.marker-label{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 0.3rem;
  margin-top: 7rem;
  width: 13.4rem;
  height: 3.2rem;
  font-size: 1.6rem;
  border: 0.2rem solid #AFBFFD;
  background-color: #FFFFFF99;
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
}

.custom-overlay{
  z-index: 5000000;
  width: 47.2rem;
  height: 25.8rem;
  padding: 2.4rem;
  border: 0.1rem solid black;
  background: white;
}

.popup-box{
  width: 100%;
  height: 100%;
}

.busInfoBox{
  height: 13.8rem;
  width: 100%;
  margin-bottom: 2.4rem;
}

.calenderBtn{
  width: 100%;
  height: 4.8rem;
  border: 0.1rem solid #D7D9E0;
  border-radius: 9rem;
}

.busInfoBox{
  display: flex;
  flex-direction: column;

}

.busInfoBox > *{
  height: 25%;
  width: 100%;
}

.busInfoBoxTitle{
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
}

.busInfoBoxStatus{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1ca04b;
  width: 7rem;
  height: 100%;
  border-radius: 0.4rem;
  margin-right: 1rem;
}

.busInfoBoxNumber{
  font-weight: bold;
  align-self: center;
}

.busInfoBoxArticle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
}

.busInfoBoxArticle > div:nth-child(1){
  width: 25%;
  color: #929292;
}
.busInfoBoxArticle > div:nth-child(2){
  width: 35%;
  font-weight: bold;
}
.busInfoBoxArticle > div:nth-child(3){
  width: 20%;
  color: #929292;
}
.busInfoBoxArticle > div:nth-child(4){
  width: 20%;
  font-weight: bold;
}

.calenderBtn{
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calendarX{
  height: 100%;
  margin-left: auto;
}

.marker-label.yes {
  border: 0.2rem solid #AFBFFD;
  backdrop-filter: blur(4px);

}

.marker-label.no {
  border: 0.2rem solid #DEDEDE;
  backdrop-filter: none;
}

.busInfoBoxTitle .운행 {
  background-color: #1ca04b;  
}

.busInfoBoxTitle .미운행 {
  background-color:#929292;  
}