.kakaomap {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: calc(100vw - 46.8rem);
    height: calc(100vh - 6.6rem); /* 전체 화면 채우기 */
  }

  #map {
    width: 100% !important;
    height: 100% !important;
  }
  

  .info-box{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 12rem;
    border: 0.2rem solid #AFBFFD;
    border-radius: 0.8rem;
    backdrop-filter: blur(0.4rem);
    background-color: #ffffff;
    height: 3.2rem;
    font-size: 1.6rem;

  }