
html {
  font-size: 62.5%;
  font-family: "Spoqa Han Sans Neo";
}

#root * {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.contentsBox{
    display: flex;
}